name: Android

on: [ push, pull_request ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build
        working-directory: ${{runner.workspace}}/caw/android
        run: ./gradlew assembleDebug

      - name: Sign APK
        uses: r0adkll/sign-android-release@v1
        id: signApk
        with:
          releaseDirectory: android-build/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.KEYSTORE_FILE }}
          alias: 'caw'
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEYSTORE_PASSWORD }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: caw
          path: ${{steps.signApk.outputs.signedReleaseFile}}