name: Linux

on: [ push, pull_request ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create Build Environment
        run: cmake -E make_directory ${{runner.workspace}}/build

      - name: Install Dependencies
        run: /home/linuxbrew/.linuxbrew/bin/brew install sdl3

      - name: Configure CMake
        working-directory: ${{runner.workspace}}/build
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

      - name: Build
        working-directory: ${{runner.workspace}}/build
        shell: bash
        run: cmake --build . --config $BUILD_TYPE

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: caw
          path: ${{runner.workspace}}/build/caw
