name: Linux

# TODO: Ubuntu 24.04 only ships with SDL2
on: [ workflow_dispatch ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create Build Environment
        run: cmake -E make_directory ${{runner.workspace}}/build

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install build-essential qt6-base-dev qt6-multimedia-dev libqt6svg6-dev -y

      - name: Configure CMake
        shell: bash
        working-directory: ${{runner.workspace}}/build
        run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

      - name: Build
        working-directory: ${{runner.workspace}}/build
        shell: bash
        run: cmake --build . --config $BUILD_TYPE

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: caw
          path: ${{runner.workspace}}/build/caw
